.register-page-wrapper{
    height: 100%;
    width: 100%;
    background-color: lightgrey;
    position:relative;
}

.register-page-wrapper .title {
    text-align: center;
    font-family: doctor;
    font-size: 36px;
    position: relative;
    color:white;
}

.register-form{
    position: absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 50%;
    height: 50%
}

.register-form form {
    position: relative;
    width: 250px;
    margin: 0 auto;
    background: rgba(130,130,130,.3);
    padding: 20px 22px;
    border: 1px solid;
    border-top-color: rgba(255,255,255,.4);
    border-left-color: rgba(255,255,255,.4);
    border-bottom-color: rgba(60,60,60,.4);
    border-right-color: rgba(60,60,60,.4);
}

.register-form input[type="submit"] {
    font-family: doctor;
    font-weight: bold;
    font-size: 19px;
    width: 248px;
    color: #0f71ba;
    letter-spacing: .05em;
    background-color: #CCCC9A;
    cursor: pointer;
    text-transform: uppercase;
}

.register-form input[id="name"], input[id="password"] {
    width: 248px;
    color: #0f71ba;
    letter-spacing: .05em;
    background-color: #CCCC9A;
}


@font-face {
    font-family: 'doctor';
    src: url('/resources/static/fonts/Doctor.ttf');
}

.register-page-wrapper .error{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70%;
    width: 259px;
}