.menu {
    width: auto;
    height: 59px;
    background: linear-gradient(to bottom, #555555 0%, #222222 100%);
    border-bottom: 3px solid #0f71ba;
}

.menu .items {
    list-style: none;
    position: relative;
    font-family: Capriola, Helvetica, sans-serif;
    height: 100%
}

.menu .items .item {
    display: inline-block;
    position: relative;
    line-height: 60px;
}

.menu .items .item.right {
    float: right;
}

.menu .items .item:hover {
    background: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
    border-radius: 15px 50px 30px;
}

.menu .items .item a {
    padding: 24px 30px 20px 30px;
    color: #eeeeee;
    text-decoration: none;
}

.menu .items .item.disabled {
    border-radius: 15px 50px 30px;
    pointer-events: none;
    opacity: 0.5;
}

.menu .items .item.selected {
    background: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
    border-radius: 15px 50px 30px;
}

.greeting{
    font-family: doctor;
    font-size: 25px;
    position: fixed;
    bottom: 0;
}

@font-face {
    font-family: 'doctor';
    src: url('/resources/static/fonts/Doctor.ttf');
}